.env

/data/
/models/
/config/skypilot/
/scripts/logs/
/src/data/logs/
/logs/
/runpod_launcher/logs/
/profiler_snapshots/
/wandb/
/output/

.DS_Store
__pycache__
.ipynb_checkpoints
.idea

repo.ai.txt

/bazel-*
MODULE.bazel.lock
